.teamleader-container {

  label {
    font-weight: 400;
    color: #333;
    display: block;
    margin-bottom: 0.5em;
    font-size: 16px;
  }

  .form-control {
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 2px solid #e9e9e9;
    color: #666;
    background: #fff -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
  }

  .form-group {
    margin-bottom: 20px;
  }

  input.invalid {
    border: 3px solid #ff9b9b;
  }

  .teamleader-submit {
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    background: #18aaa7;
    margin-top: 5px;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
  }

  .teamleader-powered {
    text-align: right;
    font-size: 0.7em;
    color: #c3c3c3;
  }

  .teamleader-powered a {
    text-decoration: none;
    color: #c3c3c3;
    box-shadow: none;
  }

  .teamleader-powered img {
    top: 2px;
    position: relative;
  }

  .teamleader-success {
    padding: 10px;
    text-align: center;
    border: 1px solid #18aaa7;
    color: #18aaa7;
    font-weight: bold;
  }

  .teamleader-error {
    padding: 10px;
    text-align: center;
    border: 1px solid #e87979;
    color: #c74c4c;
    font-weight: bold;
  }
}